* {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
a {
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/*Generic Section Padding*/
.section-padding {
	padding: 80px 0;
}
/*Generic Section Padding*/

/*Common Title Styling Here*/
.common-section-title h2 {
	color: #0F1317;
	text-align: center;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}
.common-section-title p {
	color: #333;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.common-section-btn {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 1000px;
	border: 1px solid #FFA552;
	background: #FFA552;
	padding: 20px 100px;
	transition: .5s ease;
}
.common-section-btn:hover, .common-section-btn:hover svg path {
	background: #171B20;
}
.common-btn-margin {
	margin-top: 50px;
}
/*Common Title Styling Here*/

/*Hero Banner Styling Starts*/
.barjobs-brand img {
	width: 126px;
	margin: 30px 0px 50px 70px;
}
.hero-banner-section {
	background-image: url(Images/hero-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	min-height: 100vh;
	vertical-align: middle;
}
.hero-banner-content h1 {
	color: #FFF;
	font-size: 48px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	margin-bottom: 20px;
}
.hero-banner-content h1 span {
	color: #FFA552;
}
.hero-banner-content p {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 50px;
}
.hero-banner-content a {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 1000px;
	background: #FFA552;
	padding: 10px 40px;
}
.hero-banner-content-right {
	position: relative;
}
.hero-banner-content-right img {
	width: 80%;
}
.hero-list {
	width: 180px;
	height: 180px;
	flex-shrink: 0;
	padding-right: 15px;
	border-radius: 20px;
	border: 1px solid #BB9A7B;
	background: #171B20;
	position: absolute;
	top: 40%;
	right: 25%;
}
.hero-list ul li {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	list-style: none;
	margin: 16px 0;
	position: relative;
}
.hero-list ul li::before {
	content: url(Images/arrow-right-white-2.png);
	position: absolute;
	top: 10px;
	left: -25px;
}

/*Hero Banner Styling Ends*/

/*Hiring Selection Solution Styling Starts*/
.hiring-selection-solution {
	background: #EDEDED;
}
.hiring-solution-box {
	padding: 24px;
	border-radius: 16px;
	border: 1px solid #FFA03B;
	background: #FFF;
	min-height: 242px;
	margin-top: 60px;
}
.hiring-solution-box h4 {
	color: #0F1317;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 12px 0;
}
.hiring-solution-box p {
	color: #333;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 22.4px;
}
/*Hiring Selection Solution Styling Ends*/

/*Getting Started Steps Styling Starts*/
.getting-started {
	background: #EDEDED;
}
.getting-started-steps ol {
   list-style-type: none;
   position: relative;
   margin-top: 20px;
   padding-left: 0;
}
.getting-started-steps ol li {
   counter-increment: step-counter;
	border-radius: 16px;
	border: 1px solid #FFA03B;
	background: rgba(255, 255, 255, 0.90);
	padding: 24px;
	margin: 40px 0;
}
.getting-started-steps ol li::before {
	position: absolute;
   content: counter(step-counter);
   color: #fff;
   width: 48px;
	height: 48px;
   border-radius: 12px;
   font-size: 24px;
   font-weight: 500;
   padding-top: 6px;
   text-align: center;
   vertical-align: middle;
   background-color: #FFA552;
   display: block;
   margin-right: 30px;
}
.listed-steps {
	margin-left: 60px;
}
.getting-started-steps ol li h4 {
	color: #171B20;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.getting-started-steps ol li p {
	color: #333;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin: 0;
}
/*Getting Started Steps Styling Ends*/

/*At a glance Section Styling Starts*/
.at-glance-section {
	background: #EDEDED;
}
.features-icon-contents {
	margin-top: 50px;
}
.features-icon-contents img {
	width: 60px;
}
.features-icon-contents h5 {
	color: #333;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
}
/*At a glance Section Styling Ends*/

/*FAQ Styling Starts*/
.faq-section {
	background: #EDEDED;
}
.faq-contents {
	padding: 24px;
	border-radius: 12px;
	border: 1px solid #FFA03B;
	background: #FFF;
	margin-top: 20px;
}
.faq-contents h5 {
	color: #FFA552;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}
.faq-contents p {
	color: #333;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.faq-contents ol {
	list-style-position: outside;
	padding-left: 20px;
}
/*FAQ Styling Ends*/

/*Hiring Experience Styling Starts*/
.hiring-experience-section {
	background: #0F1317;
}
.hiring-experience-section h2 {
	color: #fff;
}
.hiring-experience-section p {
	color: #99999A;
}
.hiring-experience-content {
	margin: 40px 0;
}
/*Hiring Experience Styling Ends*/